<ng-container
    *ngIf="{query: query$ | async} as data"
    class="container mx-auto"
  >
    <ul *ngIf="data.query" class="m-8">
      <cdk-virtual-scroll-viewport
        role="presentation"
        scrollWindow
        [itemSize]="itemSize"
        (scrolledIndexChange)="onScroll(data.query.nextPage)"
        class="search-results__viewport"
      >
        <li class="grid">
          <table>
            <tr class="">
              <th>Name</th>
              <th>Description</th>
              <th>Language</th>
              <th>Stars</th>
              <th>Updated Date</th>
              <th>Username</th>
              <th>URL</th>
            </tr>
            <tr *cdkVirtualFor="let result of data.query.results" class="h-[{{ itemSize }}px] grid-tr">
              <td>{{result.name}}</td>
              <td>{{result.description}}</td>
              <td>{{result.language}}</td>
              <td>{{result.stargazers_count }}</td>
              <td>{{result.updated_at | date}}</td>
              <td>{{result.owner.login}}</td>
              <td>{{result.html_url}}</td>
            </tr>
          </table>
        </li>
      </cdk-virtual-scroll-viewport>
    </ul>
</ng-container>
  