.flex-spacer {
    flex-grow: 1;
}

.docs-navbar-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;

    background: #d7e3ff;
    color: #005cbb;

    a {
        color: #005cbb;
        padding: 10px;
        text-decoration: none;
    }
}